<template>
  <require from="./filter-value-converter"></require>
  <require from="./filtered-items-value-converter"></require>
<require from="./remove-selected-items-value-converter"></require>
<require from="./display-value-value-converter"></require>
  <div class="dropdown multi-select">
    <label>      
      <span repeat.for="item of selectedItems">
        ${item | displayValue:displayItem} <i class="fa fa-close" click.trigger="selectItem(item)"></i>
      </span>
      <input type="text" click.trigger="toggle()" value.bind="filterText" keydown.trigger="filterTextKeyDown($event)">
    </label>
    <div show.bind="isOpen" class="dropdown-content">
      <span if.bind="isDynamic && filterText === ''">Input at least 3 characters to start a search</span>
      <div repeat.for="item of items | removeSelectedItems:selectedItems:removeSelected | filter:filterText:filterItem | filteredItems:filteredItems & signal:'selected-items-changed'" 
      click.trigger="selectItem(item)" class="${isSelected(item) ? 'selected' : ''} ${$index === keyboardSelected ? 'keyboard' : ''}">
        ${item | displayValue:displayItem}
      </div>
    </div>
  </div>
</template>